/* ===== MENU BARIS TITIK TIGA ===== */

.menu-btn{
  position:fixed;
  top:12px;
  right:15px;
  color:white;
  font-size:28px;
  cursor:pointer;
  z-index:9999;
  background:rgba(0,0,0,0.6);
  padding:6px 12px;
  border-radius:10px;
}

.dropdown{
  display:none;
  position:fixed;
  top:55px;
  right:15px;
  background:#111;
  border-radius:12px;
  overflow:hidden;
  z-index:9999;
  min-width:200px;
  box-shadow:0 6px 25px rgba(0,0,0,0.6);
}

.dropdown a{
  display:block;
  padding:12px;
  color:white;
  text-decoration:none;
  font-size:14px;
  border-bottom:1px solid rgba(255,255,255,0.05);
}

.dropdown a:hover{
  background:#222;
}

.dropdown.show{
  display:block;
}
